<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>拾集|收藏集</title>
    <link rel="stylesheet" href="/static/element_ui/style.css">
    <link rel="stylesheet" href="/static/css/header2.css">
    <script src="/static/js/jquery_sources.js"></script>
    <script src="/static/element_ui/vue.js"></script>
    <script src="/static/element_ui/min.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
          
</body>

<script>
    
    $(function () {
        var header = showHeader(2);
        var html_body = header;
        $('body').html(html_body);
        createVue();
    });
</script>
</html>